.divfortable {
	background: #31324e;
	width: 165px;
	margin: 50px;
}
.th1 {
	color: #f5d66b;
}
.th2 {
	color: #f17971;
}
.border {
	border: 1px solid black;
}
.merncolor {
	color: #6ad2e8;
}
.meancolor {
	color: #9be39d;
}
